.card {
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    margin: 20px auto;
    align-items: center;
    border: solid 7px #716e6e;
}
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    object-fit: cover;
    margin-bottom: 15px;
    border: thick solid #716e6e;
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.profile title {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}
.profile button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0e51be;
    color: #050505;
    cursor: pointer;
}
.profile button:hover {
    background-color: #0056b3;
}
body {
    font-family: Arial, sans-serif;
    background-color: #020202;
}   
.button {
    padding: 10px 20px;
    border: solid 1px #716e6e;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}